<div class='action-dialog'>
    <div class='title'>
        {{dialog.title}}
         <a class="cancel icon-cancel" href="{{dialog.close}}" ></a>
    </div>
    <form>
        <div class='parameters'>
            <div class='parameter' ng-repeat="parameter in dialog.parameters">
                <div class='parameter-name'>{{parameter.title}}</div>
                <div class='parameter-value input-control text'>
                    <input type='text' placeholder='{{parameter.dflt}}' ng-model="parameter.value" />
                    <div class='error'>{{parameter.message}}</div>
                </div>
            </div>
            {{dialog.message}}
        </div>

        <div ng-switch="dialog.isQuery">
            <div ng-switch-when="true">                
                <input class='show' type='submit' value='Show' style='float: right' ng-click="dialog.doShow()" />
                <input class='go' type='submit' value='Go' style='float: right' ng-click="dialog.doInvoke()" />
            </div>
            <input ng-switch-when="false" class='go' type='submit' value='Do' style='float: right' ng-click="dialog.doInvoke()" />
        </div>
    </form>
</div>
